@charset "utf-8";
/* CSS Document */
heading{font-size: 40px; font-weight: 800 ;text-align: right; color: #000000}
songs {box-sizing: border-box; width: 60%; border:
    5px solid #FF0000; float: center; margin: auto;background: #B0E0E6}
song {font-family: "Comic Sans MS", "Comic Sans", cursive; display:block;
    border: 1.5px solid #1E3FD1; padding : 8px 0; text-align:center;}
song title {font-size: 30px; font-weight: 700;}
